{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Grupal</title>
  <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/1653/1653611.png" alt="Logo ARKA">
        <h2>ARKA</h2>
    </div>
    <div class="nav-links">
        <a href="{% url 'lista_profesional' %}">👨‍⚕️ Profesionales</a>
        <a href="{% url 'lista_chats' %}">💬 Chats</a>
        <a href="/admin/">⚙️ Admin</a>
    </div>
</nav>

<div class="contenedor-chat">
    <h1>💬 {{ chat.nombre_grupo }}</h1>

    <div class="chat-box">
        {% for mensaje in mensajes %}
        <div class="mensaje">
            <strong>{{ mensaje.autor.nombres }} {{ mensaje.autor.apellidos }}:</strong>
            <p>{{ mensaje.contenido }}</p>
            <small>{{ mensaje.fecha_envio }}</small>
        </div>
        {% empty %}
        <p style="text-align: center;">No hay mensajes aún.</p>
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="campo">
            <label>Profesional que escribe:</label>
            <select name="autor_id" required>
                {% for profesional in profesionales %}
                    <option value="{{ profesional.id_profesional }}">{{ profesional.nombres }} {{ profesional.apellidos }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="campo">
            <label>Contenido:</label>
            <textarea name="contenido" required></textarea>
        </div>

        <div class="acciones-form">
            <button type="submit" class="btn-guardar">📨 Enviar</button>
            <a href="{% url 'lista_chats' %}" class="btn-cancelar">❌ Cancelar</a>
        </div>
    </form>
</div>

</body>
</html>